[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
pypdf2 = "*"
requests = "*"
bs4 = "*"
pyyaml = "*"
llama-cpp-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
